/* the instructions should have their own box 
color fonts: white
sans serif
instructions: centered



*/

/*body - fonts, */ 
body { 
	background: url("../images/weather.png");
 	font-family: Arial; 
 }

/* header, centered*/


/* body, centered */ 


